{% extends "admin/layout_admin.html" %}

{% block admin_content %}
<div class="login-form-container">
    <h2>Admin Login</h2>
    <form method="POST" action="{{ url_for('admin.login') }}" class="admin-form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn-admin" style="width: 100%;">Login</button>
    </form>
</div>
{% endblock %}